<p-menubar [model]="items">
  <div>
    <label>{{languageService.getText('greet')}}, </label><a [routerLink]="['profile']">{{authService.getUsername()}}</a><label>!&#10240;&#10240;</label>
    <p-selectButton [options]="languages" [(ngModel)]="selectedLanguage"
                    (click)="setLanguage(selectedLanguage)"></p-selectButton>
    <button pButton (click)="logout()" label="{{languageService.getText('logout')}}" icon="fa fa-sign-out"
            style="margin-left:.25em"></button>
    <!--  npm install ngx-flag-icon-css flag-icon-css-->

  </div>
</p-menubar>


<p-sidebar id="sidebar" [(visible)]="display" position="right" styleClass="ui-sidebar-md">
  <h1>{{languageService.getText('notifications')}}</h1>
  <div id="bigNotificationDiv">
  <div *ngFor="let not of notifications">

    <div id="notificationDiv" [ngClass]="[not.isSeen ? 'greyBackground' : 'redBackground']">
      <div (click)="showNot(not)">{{not.type}}</div>
    </div>

    <p-dialog id="notificationDialog" header="{{languageService.getText('notification')}}" [(visible)]="not.show"
              (onShow)="notificationDialogClearIntervalWhenVisible(); "
              (onHide)="notificationDialogStartIntervalWhenVisible(); hide()"
              [style]="{width: '350px', minWidth: '200px'}" appendTo="body" [positionLeft]="0">
      <div [innerHTML]="notificationFormatter(not)"></div>
    </p-dialog>
  </div>
  </div>
</p-sidebar>

<button id="notification" type="text" (click)="display = true" pButton class="ui-button-rounded ui-button-success"
        label="{{languageService.getText('notifications')}}"></button>
<router-outlet></router-outlet>
