<p-menubar [model]="items">
  <div>
    <p-selectButton [options]="languages" [(ngModel)]="selectedLanguage"></p-selectButton>
    <button pButton (click)="logout()" label="Logout" icon="fa fa-sign-out" style="margin-left:.25em"></button>
    <!--  npm install ngx-flag-icon-css flag-icon-css-->

  </div>
</p-menubar>

<p-dialog header="Notification" [(visible)]="displayNotification"
          [style]="{width: '350px', minWidth: '200px'}">
  <p>Uite-maaa</p>
</p-dialog>

<p-sidebar [(visible)]="display" position="right" styleClass="ui-sidebar-md">
  <h1>Notifications</h1>

  <div *ngFor="let not of notification">

    <div id="logo">
      <h1 (click)="displayNotification = true">{{not}}</h1>
    </div>

  </div>
</p-sidebar>

<button id="notification" type="text" (click)="display = true" pButton class="ui-button-rounded ui-button-success"
        label="Notifications"></button>
<router-outlet></router-outlet>
