<form [formGroup]="form">
  <div class="form-group">
    <label for="firstname">{{languageService.getText('firstName')}} : </label>
    <input type="text"
           formControlName="firstname"
           class="form-control"
           required
           id="firstname">
    <div class="alert alert-danger"
         *ngIf="form.get('firstname').touched && form.get('firstname').invalid">
      <div *ngIf="form.get('firstname').errors.required">
        {{languageService.getText('firstname') + languageService.getText('something-required')}}
      </div>
      <div *ngIf="form.get('firstname').errors.validateName">
        {{languageService.getText('firstname') + languageService.getText('name-format')}}
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="lastname">{{languageService.getText('lastName')}}: </label>
    <input type="text"
           formControlName="lastname"
           class="form-control"
           required
           id="lastname">
    <div class="alert alert-danger"
         *ngIf="form.get('lastname').touched && form.get('lastname').invalid">
      <div *ngIf="form.get('lastname').errors.required">
        {{languageService.getText('lastname') + languageService.getText('something-required')}}
      </div>
      <div *ngIf="form.get('lastname').errors.validateName">
        {{languageService.getText('lastname') + languageService.getText('name-format')}}
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="mobilenumber">{{languageService.getText('phoneNumber')}}: </label>
    <input type="text"
           formControlName="mobilenumber"
           class="form-control"
           required
           id="mobilenumber">
    <div class="alert alert-danger"
         *ngIf="form.get('mobilenumber').touched && form.get('mobilenumber').invalid">
      <div *ngIf="form.get('mobilenumber').errors.required">
        {{languageService.getText('phoneNumber') + languageService.getText('something-required')}}
      </div>
      <div *ngIf="form.get('mobilenumber').errors.validateNumber">
        {{languageService.getText('phoneNumber') + languageService.getText('phoneNumber-format')}}
      </div>

    </div>
  </div>

  <div class="form-group">
    <label for="email">Email: </label>
    <input type="text"
           formControlName="email"
           class="form-control"
           required
           id="email">
    <div class="alert alert-danger"
         *ngIf="form.get('email').touched && form.get('email').invalid">
      <div *ngIf="form.get('email').errors.required">
        {{languageService.getText('email-required')}}
      </div>
      <div *ngIf="form.get('email').errors.cannotContainSpace">
        {{languageService.getText('email-space')}}
      </div>
      <div *ngIf="form.get('email').errors.validateEmail">
        {{languageService.getText('email-format')}}
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="roles">{{languageService.getText('choose-roles-newUser')}}: </label>
    <div *ngFor="let role of roles">
      <label>
        <input type="checkbox"
               name="roles"
               value="{{role.id}}"
               id="roles"
               (change)="onClicked(role, $event)"
        />

        {{role.type}}
      </label>
    </div>
  </div>

  <br>
  <button class="btn btn-primary"
          type="button"
          (click)="addUser()"
          [disabled]="form.invalid">{{languageService.getText('save')}}
  </button>
</form>
