<p-table #dt [columns]="cols" [value]="bugs" selectionMode="single" [(selection)]="selectedBug" [scrollable]="true"
         scrollHeight="64vh"
         (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="25">

  <ng-template pTemplate="caption">
    <div style="text-align: right">
      <i class="fa fa-search" style="margin:4px 4px 0 0"></i>

      <input type="text" pInputText size="20" placeholder="Created by"
             [(ngModel)]="bugSearchCrit.created">
      <input type="text" pInputText size="20" placeholder="Assigned to"
             [(ngModel)]="bugSearchCrit.assigned">
      <p-dropdown [options]="status" size="20" placeholder="Status" id="status"
                  [(ngModel)]="bugSearchCrit.status"></p-dropdown>

      <p-dropdown [options]="severity" size="20" placeholder="Severity" id="severity"
                  [(ngModel)]="bugSearchCrit.severity"></p-dropdown>

      <p-button icon="pi pi-search" label="search" (click)="search()"></p-button>

    </div>
  </ng-template>

  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field">
        {{col.header}}
      </th>
    </tr>
    <tr>
      <th *ngFor="let col of columns" [ngSwitch]="col.field">
        <input *ngSwitchCase="'title'" pInputText size="15" type="text"
               (input)="dt.filter($event.target.value, col.field, 'contains')">
        <input *ngSwitchCase="'description'" pInputText size="15" type="text"
               (input)="dt.filter($event.target.value, col.field, 'contains')">
        <input *ngSwitchCase="'version'" pInputText size="15" type="text"
               (input)="dt.filter($event.target.value, col.field, 'contains')">

        <p-calendar appendTo="body" *ngSwitchCase="'targetDate'" [style]="{'width':'200%'}"
                    dateFormat="dd.mm.yy"
                    (onSelect)="dt.filter($event, col.field, 'dateFilter')"></p-calendar>

        <p-multiSelect appendTo="body" *ngSwitchCase="'status'" [options]="status" [style]="{'width':'100%'}"
                       (onChange)="dt.filter($event.value, col.field, 'in')"></p-multiSelect>

        <input *ngSwitchCase="'fixedVersion'" pInputText size="15" type="text"
               (input)="dt.filter($event.target.value, col.field, 'contains')">
        <p-multiSelect appendTo="body" *ngSwitchCase="'severity'" size="15" [options]="severity"
                       defaultLabel="All severities"
                       (onChange)="dt.filter($event.value, col.field, 'in')"></p-multiSelect>
        <input *ngSwitchCase="'created'" pInputText size="15" type="text"
               (input)="dt.filter($event.target.value, col.field, 'contains')">
        <input *ngSwitchCase="'assigned'" pInputText size="15" type="text"
               (input)="dt.filter($event.target.value, col.field, 'contains')">
        
        <!--        <p-autoComplete *ngSwitchCase="'assigned'" [(ngModel)]="bug.assigned" [suggestions]="filteredBugs"-->
        <!--                        (completeMethod)="filterBugsAssignedTo($event)" [size]="30"-->
        <!--                        [minLength]="1" [dropdown]="true">-->
        <!--          <ng-template let-brand pTemplate="item">-->

        <!--            <div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5">-->
        <!--              <div style="font-size:18px;float:right;margin:10px 10px 0 0">{{bug.assigned}}</div>-->
        <!--            </div>-->

        <!--          </ng-template>-->
        <!--        </p-autoComplete>-->

      </th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr [pSelectableRow]="rowData">
      <td *ngFor="let col of columns" [ngSwitch]="col.field">
        <span *ngSwitchCase="'targetDate'"> {{rowData[col.field] | date:'dd.MM.yyyy'}} </span>

        <span *ngSwitchDefault> {{rowData[col.field] }}</span>
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="summary" let-rowData>
    <div style="text-align:left">
      <button type="button" pButton (click)="add()" label="Add"></button>
    </div>
  </ng-template>

</p-table>

<p-dialog header="Bug Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true"
          [style]="{width: '500px'}">
  <div class="ui-g ui-fluid" *ngIf="bug">
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="titleEdit">Title</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="titleEdit" [(ngModel)]="bug.title"/>
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="descriptionEdit">Description</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="descriptionEdit" [(ngModel)]="bug.description"/>
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="versionEdit">Version</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="versionEdit" [(ngModel)]="bug.version"/>
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label>Status</label>
      </div>
      <div class="ui-g-8" [ngSwitch]="bug.status">
        <p-dropdown id="statusEditNEW" appendTo="body" [options]="statusNew" [style]="{'width':'100%'}"
                    *ngSwitchCase="'NEW'"
                    [(ngModel)]="bug.status"></p-dropdown>
        <p-dropdown id="statusEditINPROGRESS" appendTo="body" [options]="statusInProgress" [style]="{'width':'100%'}"
                    *ngSwitchCase="'IN_PROGRESS'"
                    [(ngModel)]="bug.status"></p-dropdown>
        <p-dropdown id="statusEditINFONEEDED" appendTo="body" [options]="statusInfoNeeded" [style]="{'width':'100%'}"
                    *ngSwitchCase="'INFONEEDED'"
                    [(ngModel)]="bug.status"></p-dropdown>
        <p-dropdown id="statusEditREJECTED" appendTo="body" [options]="statusRejected" [style]="{'width':'100%'}"
                    *ngSwitchCase="'REJECTED'"
                    [(ngModel)]="bug.status"></p-dropdown>
        <p-dropdown id="statusEditFIXED" appendTo="body" [options]="statusFixed" [style]="{'width':'100%'}"
                    *ngSwitchCase="'FIXED'"
                    [(ngModel)]="bug.status"></p-dropdown>
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="fixedVersionEdit">Fixed Version</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="fixedVersionEdit" [(ngModel)]="bug.fixedVersion"/>
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="severityEdit">Severity</label>
      </div>
      <div class="ui-g-8">
        <p-dropdown id="severityEdit" appendTo="body" [options]="severity" [style]="{'width':'100%'}"
                    [(ngModel)]="bug.severity"></p-dropdown>
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="assignedEdit">Assigned to</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="assignedEdit" [(ngModel)]="bug.assigned"/>
      </div>
    </div>

    <!--  Attachment -->

  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton (click)="delete(bug.id)"
              *ngIf="this.authService.hasPermission('BUG_CLOSE') && bug.status == 'FIXED' " label="Delete"></button>
      <button type="button" pButton (click)="save()" label="Save"></button>
      <button type="button" pButton (click)="export()" *ngIf="this.authService.hasPermission('BUG_EXPORT_PDF')"
              label="Export in PDF"></button>
    </div>
  </p-footer>
</p-dialog>
