<p-table [columns]="cols" [value]="users" selectionMode="single" [(selection)]="selectedUser"
         (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="10" [scrollable]="true">

  <ng-template pTemplate="caption">
    {{languageService.getText('user-list')}}
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns">
        {{col.header}}
      </th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr [pSelectableRow]="rowData">
      <td *ngFor="let col of columns">
        {{col.field == 'status' ? (language == 'en' ? (rowData[col.field] ? 'active' : 'inactive') : (rowData[col.field] ? 'activ' : 'inactiv')) : rowData[col.field]}}
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="summary" let-rowData>
    <div style="text-align:left">
      <button type="button" pButton icon="fa fa-plus" (click)="add()"
              label="{{languageService.getText('add')}}"></button>
    </div>
  </ng-template>
</p-table>

<p-dialog header="{{languageService.getText('user-details')}}" [(visible)]="displayDialog" [responsive]="true"
          showEffect="fade" [modal]="true"
          [style]="{width: '400px'}" [contentStyle]="{'max-height':'60vh'}">
  <div class="ui-g ui-fluid" *ngIf="user">
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="usernameEdit">{{languageService.getText('username')}}: </label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="usernameEdit" [(ngModel)]="user.username" disabled/>
      </div>
    </div>
  </div>

  <div class="ui-g ui-fluid" *ngIf="user">
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="firstNameEdit">{{languageService.getText('firstName')}}: </label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="firstNameEdit" [(ngModel)]="user.firstName" required
               pattern="^[A-ZÜÄÖÂÎĂȚȘÁÉÓŐÚŰ][a-zA-Zșțăîâäöüßáéóőúű]{1,30}[- ]?[a-zșțăîâäöüáéóőúűßA-ZÜÄÖÂÎĂȚȘÁÉÓŐÚŰ]{0,30}[a-zșțăîâäöüßáéóőúű]$"
               #firstNameEdit="ngModel"/>
        <div class="alert alert-danger"
             *ngIf="firstNameEdit.touched && firstNameEdit.invalid">
          <div *ngIf="firstNameEdit.errors.required">
            {{languageService.getText('firstname') + languageService.getText('something-required')}}
          </div>
          <div *ngIf="firstNameEdit.errors.pattern">
            {{languageService.getText('firstname') + languageService.getText('name-format')}}
          </div>
        </div>
      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="lastNameEdit">{{languageService.getText('lastName')}}: </label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="lastNameEdit" [(ngModel)]="user.lastName" required #lastNameEdit="ngModel"
               pattern="^[A-ZÜÄÖÂÎĂȚȘÁÉÓŐÚŰ][a-zA-Zșțăîâäöüßáéóőúű]{1,30}[- ]?[a-zșțăîâäöüáéóőúűßA-ZÜÄÖÂÎĂȚȘÁÉÓŐÚŰ]{0,30}[a-zșțăîâäöüßáéóőúű]$"/>
        <div class="alert alert-danger"
             *ngIf="lastNameEdit.touched && lastNameEdit.invalid">
          <div *ngIf="lastNameEdit.errors.required">
            {{languageService.getText('lastname') + languageService.getText('something-required')}}
          </div>
          <div *ngIf="lastNameEdit.errors.pattern">
            {{languageService.getText('lastname') + languageService.getText('name-format')}}
          </div>
        </div>
      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="mobileNumberEdit">{{languageService.getText('phoneNumber')}}: </label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="mobileNumberEdit" [(ngModel)]="user.mobileNumber" required #mobileNumberEdit="ngModel"
               minlength="10" maxlength="13"
               pattern="^(\+49)?1(5[12579]|6[023]|7[0-9])[0-9]{7}$|^(004|\+4)?07[2-8][0-9]{7}$"/>
        <div class="alert alert-danger"
             *ngIf="mobileNumberEdit.touched && mobileNumberEdit.invalid">
          <div *ngIf="mobileNumberEdit.errors.required">
            {{languageService.getText('phoneNumber') + languageService.getText('something-required')}}
          </div>
          <div *ngIf="mobileNumberEdit.errors.pattern">
            {{languageService.getText('phoneNumber') + languageService.getText('phoneNumber-format')}}
          </div>
          <div *ngIf="mobileNumberEdit.errors.minlength">
            Mobile number should have at least 10 characters!
          </div>
        </div>
      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="emailEdit">Email: </label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="emailEdit" [(ngModel)]="user.email" required #emailEdit="ngModel"
               pattern="^[a-zA-Z0-9-_.]*@msggroup\.com$"/>
        <div class="alert alert-danger"
             *ngIf="emailEdit.touched && emailEdit.invalid">
          <div *ngIf="emailEdit.errors.required">
            {{languageService.getText('email-required')}}
          </div>
          <div *ngIf="emailEdit.errors.pattern">
            {{languageService.getText('email-format')}}
          </div>
        </div>
      </div>
    </div>


    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="rolesEdit">{{languageService.getText('edit-roles')}}: </label>
      </div>
    </div>
    <table>
      <tr *ngFor="let role of roles">
        <label>
          <input type="checkbox"
                 name="roles"
                 value="{{role.id}}"
                 id="rolesEdit"
                 (change)="onClicked(role, $event)"
                 [defaultChecked]="role.checked"
          />
          {{role.type}}<br>
        </label>
      </tr>
    </table>

    <div class="ui-g-12">
      <div class="ui-g-4">
        <label>Status: </label>
      </div>
      <div class="ui-g-8" *ngIf="user.status">
        <input pInputText id="statusEditActive" value="{{(language=='en'?'active': 'activ')}}" disabled/>
      </div>
      <div class="ui-g-8" *ngIf="!user.status">
        <input pInputText id="statusEditInactive" value="{{(language=='en'?'inactive': 'inactiv')}}" disabled/>
      </div>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="fa fa-check" (click)="activateUser()"
              label="{{languageService.getText('activate')}}" [class.grey]="user.status"
              [disabled]="user.status"></button>
      <button type="button" pButton icon="fa fa-close" (click)="deactivateUser()"
              label="{{languageService.getText('deactivate')}}" [class.grey]="!user.status"
              [disabled]="!user.status"></button>
      <button type="button" pButton icon="fa fa-check" (click)="edit()"
              label="{{languageService.getText('save')}}"></button>
    </div>
  </p-footer>
</p-dialog>
