<div>
  <form [formGroup]="form" (keyup.enter)="changePassword()">

    <div class="form-group">
      <label for="firstName">First name: </label>
      <input type="text"
             formControlName="firstName"
             class="form-control"
             required
             [(ngModel)]="loggedUser.firstName"
             id="firstName">
      <div class="alert alert-danger"
           *ngIf="form.get('firstName').touched && form.get('firstName').invalid">
        <div *ngIf="form.get('firstName').errors.required">
          First name is required!
        </div>
        <div *ngIf="form.get('firstName').errors.validateName">
          First name must begin with capital letter and should contain only letters
          and separators!
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="lastName">Last name: </label>
      <input type="text"
             formControlName="lastName"
             [(ngModel)]="loggedUser.lastName"
             class="form-control"
             required
             id="lastName">
      <div class="alert alert-danger"
           *ngIf="form.get('lastName').touched && form.get('lastName').invalid">
        <div *ngIf="form.get('lastName').errors.required">
          Last name is required!
        </div>
        <div *ngIf="form.get('lastName').errors.validateName">
          Last name must begin with capital letter and should contain only letters
          and separators!
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="mobileNumber">Mobile number: </label>
      <input type="text"
             formControlName="mobileNumber"
             [(ngModel)]="loggedUser.mobileNumber"
             class="form-control"
             required
             minlength="10"
             maxlength="13"
             id="mobileNumber">
      <div class="alert alert-danger"
           *ngIf="form.get('mobileNumber').touched && form.get('mobileNumber').invalid">
        <div *ngIf="form.get('mobileNumber').errors.required">
          Mobile number is required!
        </div>
        <div *ngIf="form.get('mobileNumber').errors.validateNumber">
          Mobile number must be from Germany or Romania!
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="email">Email: </label>
      <input type="text"
             formControlName="email"
             class="form-control"
             [(ngModel)]="loggedUser.email"
             required
             id="email">
      <div class="alert alert-danger"
           *ngIf="form.get('email').touched && form.get('email').invalid">
        <div *ngIf="form.get('email').errors.required">
          Email is required!
        </div>
        <div *ngIf="form.get('email').errors.cannotContainSpace">
          Email cannot contain any space!
        </div>
        <div *ngIf="form.get('email').errors.validateEmail">
          Email must be of format [address]@msggroup.com!
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="newPassword">New password </label>
      <input type="password"
             formControlName="newPassword"
             class="form-control"
             id="newPassword">
      <!--      <div class="alert alert-danger"-->
      <!--           *ngIf="form.get('newPassword').touched && form.get('newPassword').invalid">-->
      <!--        <div *ngIf="form.get('newPassword').errors.required">-->
      <!--          Password is required!-->
      <!--        </div>-->
      <!--      </div>-->
    </div>

    <div class="form-group">
      <label for="testPassword">Reenter new password </label>
      <input type="password"
             formControlName="testPassword"
             class="form-control"
             id="testPassword">
      <!--      <div class="alert alert-danger"-->
      <!--           *ngIf="form.get('testPassword').touched && form.get('testPassword').invalid">-->
      <!--        <div *ngIf="form.get('testPassword').errors.required">-->
      <!--          Reentering new password is required!-->
      <!--        </div>-->
      <!--      </div>-->
    </div>

    <button class="btn btn-primary"
            type="button"
            (click)="changePassword()"
            [disabled]="form.invalid">Edit user
    </button>
  </form>
</div>
