<form [formGroup]="form">
  <div class="form-group">
    <label for="firstname">First name: </label>
    <input type="text"
           formControlName="firstname"
           class="form-control"
           required
           id="firstname">
    <div class="alert alert-danger"
         *ngIf="form.get('firstname').touched && form.get('firstname').invalid">
      <div *ngIf="form.get('firstname').errors.required">
        First name is required!
      </div>
      <div *ngIf="form.get('firstname').errors.validateName">
        First name must begin with capital letter and should contain only letters
        and separators!
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="lastname">Last name: </label>
    <input type="text"
           formControlName="lastname"
           class="form-control"
           required
           id="lastname">
    <div class="alert alert-danger"
         *ngIf="form.get('lastname').touched && form.get('lastname').invalid">
      <div *ngIf="form.get('lastname').errors.required">
        Last name is required!
      </div>
      <div *ngIf="form.get('lastname').errors.validateName">
        Last name must begin with capital letter and should contain only letters
        and separators!
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="mobilenumber">Mobile number: </label>
    <input type="text"
           formControlName="mobilenumber"
           class="form-control"
           required
           id="mobilenumber">
    <div class="alert alert-danger"
         *ngIf="form.get('mobilenumber').touched && form.get('mobilenumber').invalid">
      <div *ngIf="form.get('mobilenumber').errors.required">
        Mobile number is required!
      </div>
      <div *ngIf="form.get('mobilenumber').errors.validateNumber">
        Mobile number must be from Germany or Romania!
      </div>
      <!--<div *ngIf="form.get('mobilenumber').errors.validateNumber">
        Mobile number is too long.
      </div>-->
    </div>
  </div>

  <div class="form-group">
    <label for="email">Email: </label>
    <input type="text"
           formControlName="email"
           class="form-control"
           required
           id="email">
    <div class="alert alert-danger"
         *ngIf="form.get('email').touched && form.get('email').invalid">
      <div *ngIf="form.get('email').errors.required">
        Email is required!
      </div>
      <div *ngIf="form.get('email').errors.cannotContainSpace">
        Email cannot contain any space!
      </div>
      <div *ngIf="form.get('email').errors.validateEmail">
        Email must be of format [address]@msggroup.com!
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="roles">Choose some roles for the new user: </label>
    <div *ngFor="let role of roles">
      <label>
        <input type="checkbox"
               name="roles"
               value="{{role.id}}"
               id="roles"
               (change)="onClicked(role, $event)"
        />

        {{role.type}}
      </label>
    </div>
  </div>

  <br>
  <button class="btn btn-primary"
          type="button"
          (click)="addUser()"
          [disabled]="form.invalid">Add user
  </button>

  <p>{{form.value | json}}</p>
</form>
